{% extends "base.html" %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post-detail.css' %}?v=3" />
{% endblock %}

{% block content %}
<section id="summary">
<h2>{{ post.title }}</h2>
<div>
    {% for tag in post_tags %}
        <span class="tag">{{ tag }}</span>
    {% endfor %}
</div>
<div id="read-later">
<form action="{% url 'read-later' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="post_id" value="{{ post.id }}">
    <button> 
        {% if is_saved_for_later %}
            Remove from "Read Later" List
        {% else %}
            Read Later
        {% endif %}
     </button>
</form>
</div>
<article>
    <img src="{{ post.image.url }}" alt="{{ post.title }}">
    <address><a href="mailto:{{ post.author.email_address }}">{{ post.author }}</a></address>
    <div>
        Last updated on <time>{{ post.date|date:"d M Y" }}</time>
    </div>
</article>
</section>

<main>
    {{ post.content|linebreaks }}
</main>

<section id="comment-form">
    <h2>Your Comment</h2>
    <form action="{% url "post-detail" post.slug %}" method="POST">
        {% csrf_token %}
        {% for form_field in comment_form %}
            <div class="form-control {% if form_field.errors %}invalid{% endif %}">
                {{ form_field.label_tag }}
                {{ form_field }}
                {{ form_field.errors }}
            </div>
        {% endfor %}
        <button type="submit">Submit Comment</button>
    </form>
</section>

<section id="comments">
    <h2>Comments</h2>
    <ul>
        {% for comment in post.comments.all %}
            <li>
                <p class="comment-author">
                    <span class="avatar">{{ comment.user_name|slice:":1"|upper }}</span>
                    {{ comment.user_name }}
                </p>
                <p>{{ comment.text|linebreaks }}</p>
            </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}